*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(228, 228, 228);
}

.nav-belt-1{
    height: 60px;
    background-color: #14172d;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1.5fr;
    position: fixed;
    z-index: 1000;
}

.left-div{
    /* border: 1px solid white; */
    height: 58px;
    width: fit-content;
    padding: 5px;
    display: grid;
    gap: 3px;
    grid-template-columns: 130px 180px;
}

.logo{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: white;
    
}

#amazon{
    height: 38px;
}
#in{
    font-size: 15px;
    margin-bottom: 13px;
}

.location{
    /* border: 1px solid white; */
    display: flex;
    margin-bottom: 10px;
    color: white;
    
}

.location-logo{
    padding: 3px;
    margin-top: 19px;
}

.location-logo img{
    height: 16px;
}

.location-details{
    margin-top: 10px;
}

.location p{
    font-size: 13px;
}

.mid-div{
    /* border: 1px solid white; */
    height: 58px;
    padding: 10px;
}

.inner-mid{
    /* border: 1px solid white; */
    height: 40px;
    display: flex;
}

#amazon-categories{
    width: 50px;
    height: 100%;
    border-radius: 3px 0 0 3px;
    border: 0;
    background-color: rgb(221, 221, 221);
    text-align: center;
    color: rgb(95, 95, 95);
}

#search-bar{
    width: 100%;
    border: 0;
    padding-left: 10px;
    font-size: 15px;

}

.search-logo{
    background-color: rgb(255, 184, 103);
    width: 50px;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div{
    /* border: 1px solid white; */
    height: 58px;
    display: grid;
    grid-template-columns: 80px 137px 97px 91px;
}

.right-divs{
    /* border: 1px solid white;    */
    display: flex;
    justify-content: center;
    align-items: center;
}

#country{
    background-color: transparent;
    border: 0;
    color: white;
    width: 40px;
    text-align: center;
}

#flag{
    height: 20px;
}

#second{
    flex-direction: column;
    color: white;
    font-size: 13px;
    align-items: start;
    padding-left: 3px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    width: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    left: 750px;
    top: 55px;
    z-index: 100;
    
}

.s1{
    height: 63px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid rgb(232, 229, 226);
}

.btn{
    background-color: rgb(255, 211, 16);
    padding: 8px 90px 10px 90px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}
.btn a{
    text-decoration: none;
    color: black;
}
.s1 p{
    color: black;
    padding-bottom: 10px;
}

.s2{
    margin-top: 17px;
    display: grid;
    grid-template-columns: 240px 260px;
}

.s2 div{
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 10px;
}

.s2 div h2{
    color: black;
}

.s2-right{
    border-left: 1px solid rgb(232, 229, 226);
    padding-left: 20px;
}

.s2 a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.s2 a:hover{
    color: orangered;
    text-decoration: underline;
}

.btn a:hover {
    text-decoration: underline;
}

#second:hover .dropdown-menu{
    display: block;
}

#third{
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25px;

}

.p2{
    font-weight: 800;
}

#cart-img{
    height: 35px;
}
#cart-text{
    font-size: 13px;
    color: white;
    font-weight: 800;
    margin-top: 15px;
}

.nav-bar{
    margin-top: 60px;
    position: absolute;
    height: 40px;
    width: 96.33vw;
    background-color: #232f3e;
    display: flex;
    padding: 0px 20px 0px 15px;
}

.nav-bar-options{
    border: 1px solid transparent;
    padding: 2px 10px 2px 10px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.nav-bar-options a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#icon{
    color: white;
    margin-right: 5px;
}

.nav-bar-options:hover{
    border: 2px solid white;
    border-radius: 2px;
    padding-bottom: 0px;
}

/* main body start */

.main{
    padding-top: 100px;
    height: max-content;
}

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .slides {
    display: flex;
    position: relative;
    width: 800%;
    height: 100%;
}

#left-btn,#right-btn{
    position: absolute;
    height: 44%;
    width: 80px;
    background-color: transparent;
    border: 0;
    color: white;
    border: 1px solid white;
}

#right-btn{
    margin-left: 1271px;
}

#right-btn img{
    height: 70px;
}
#left-btn img{
    height: 70px;
}


.slide {
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    /* animation-name: slide;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction:alternate; */
  }

  .slide:nth-child(1) {
    background-image: url('images/bg-image.png');
  }

  .slide:nth-child(2) {
    background-image: url('images/bg-image2.jpg');
  }

  .slide:nth-child(3) {
    background-image: url('images/bg-image3.jpg');
  }

  .slide:nth-child(4) {
    background-image: url('images/bg-image4.jpg');
  }
  .slide:nth-child(5) {
    background-image: url('images/bg-image5.jpg');
  }
  .slide:nth-child(6) {
    background-image: url('images/bg-image6.jpg');
  }
  .slide:nth-child(7) {
    background-image: url('images/bg-image7.jpg');
}

/* @keyframes slide{
    0% {transform: translateX(0%);}
    15% {transform: translateX(-100%);}
    25% {transform: translateX(-200%);}
    35% {transform: translateX(-300%);}
    45% {transform: translateX(-400%);}
    55% {transform: translateX(-500%);}
} */

.main2{
    /* border: 1px solid red; */
    color: black;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    transform: translateY(-18%);
}
.m2-d1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.div{
    /* border: 1px solid black; */
    height: 380px;
    padding: 20px 20px 20px 20px;
    width: 272px;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.img{
    height: max-content;
    width: 126px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#second-pro .img{
    width: 120px;
}

.tag{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 27px;
    display: flex;
}

.content{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.product-name{
    display: flex;
    flex-wrap: wrap;
    width: 124px;
    padding-top: 3px;
    font-size: 12px;
}

.img img{
    height: 100px;
}

.see-more{
    /* border: 1px solid black; */
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: end;
}

.see-more a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(19, 86, 148);
}

.m2-d2{
    margin-top: 20px;
    height: 270px;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
}

.scroller{
    display: flex;
    overflow-x: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 0px 5px 5px 5px;
    scrollbar-width: thin;
    scrollbar-color: rgb(180, 180, 180) transparent;
    
}
.scroller:hover{
    overflow: scroll;
    overflow-y: hidden;
}
.scroller-product{
    /* border: 1px solid red; */
    width: max-content;
    flex: 0 0 auto;
}

.m2-d3{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.image{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1px;
}

.image img{
    height: 96%;
}

.details{
    padding: 0;
    font-size: 13px;
    word-spacing: 1px;
}

.price{
    margin-top: 8px;
    display: flex;
    color: #232f3e;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.price sup{
    font-size: 14px;
    font-weight: 100;
}

.price p{
    color: rgb(114, 114, 114);
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
    margin-top: 5px;
}

.m2-d3 .content{
    gap: 0;
}

.change{
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    height: 63px;
    width: 60px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.box img{
    height: 80%;
    border-radius: 10px;
}

.box:hover{
    border: 3px solid rgb(32, 72, 146);
}

